@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSans.eot');
    src: url('../fonts/?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl.woff') format('woff'),
    url('../fonts/MuseoSansCyrl.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    }

    @font-face {
        font-family: 'Museo Sans Cyrl';
        src: url('../fonts/MuseoSans.woff');
        src: url('../fonts/MuseoSansCyrl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrl.woff') format('woff'),
        url('../fonts/MuseoSansCyrl.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url('../fonts/MuseoSansCyrl.eot');
            src: url('../fonts/') format('embedded-opentype'),
            url('../fonts/MuseoSansCyrl.woff') format('woff'),
            url('../fonts/MuseoSansCyrl.ttf') format('truetype');
            font-weight: 700;
            font-style: normal;
            }  